**/.gradle/
**/build/
**/bin/
**/.settings/

**/.project
**/.classpath
**/rebel.xml
**/rebel-remote.xml

**/src/main/webapp/
**/src/main/resources/VAADIN/themes/**/addons.scss
**/src/main/resources/VAADIN/themes/**/*.css
**/src/main/resources/VAADIN/themes/**/*.css.gz
**/src/main/resources/VAADIN/themes/**/*.scss.cache
**/src/main/resources/VAADIN/widgetsets/

**/target
**/.idea

docker-compose/docker-stack.yml

vagrant/.vagrant/
vagrant/dumps/*.hprof
