<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- connection to the database -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mariadb://tennis.dynv6.net:3306/TenniskoenigDB?useSSL=false&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">hilfe</property>

        <!-- autocommit false -->
        <property name="hibernate.connection.autocommit">false</property>

        <!-- to display sql query generated when running the program -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>

        <!-- for jdbc transaction -->

        <!-- mapping file -->
        <!--<mapping class="com.tco.model.Played"/>
        <mapping class="com.tco.model.Game"/>
        <mapping class="com.tco.model.User"/>-->
        <mapping resource="Game.hbm.xml"/>
        <mapping resource="User.hbm.xml"/>
        <mapping resource="Played.hbm.xml"/>

    </session-factory>
</hibernate-configuration>